<p>card works!</p>


<div class="card">
    <img src="/src/assets/contes-pour-enfant.jpg" alt="imageu">
    <i></i>
    <div class="card_bottom">
        <section>
            <p class="title_card">Le balais enchanté</p>
            <p>Créee le 23 octobre 2024</p>
        </section>
        <section>
            <div>
                <i>coeur</i>
                <p>236</p>
            </div>
            <div>
                <i>chapeau</i>
                <p>fantastique</p>
            </div>
            <div>
                <i>rond</i>
                <p>2-3ans</p>
            </div>

        </section>
    </div>

</div>