<div class="card">
  <div class="card_top">
    <img class="picture_card" src="{{ histoire.urlImage }}" alt="imageu" />
    @if(isFavori == true) {
    <i class="fa-solid fa-star"></i>
    } @if(isVue == true) {
    <i class="fa-regular fa-eye"></i>
    }
  </div>

  <div class="card_bottom">
    <section class="left_card">
      <p class="title_card">{{ histoire.titre }}</p>
      <!-- <p>{{ histoire.createur }}</p> -->
    </section>
    <section class="right_card">
      <div class="react">
        <div class="ligne">
          <i class="fa-solid fa-heart"></i>
          <p>{{ histoire.nbLike }}</p>
        </div>
      </div>
      <div class="react">
        <app-cat-histoire
          [categorie]="histoire.categorieHistoire"
        ></app-cat-histoire>
      </div>
      <div class="react">
        <app-cat-age [categorie]="histoire.categorieAge"></app-cat-age>
      </div>
    </section>
  </div>
</div>
