footer {
    font-size: 0.9rem;
  }
  
  footer a {
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  footer a:hover {
    color: #050505; 
  }
  
  footer h5 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 0.9rem; 
    color: #161616; 
    line-height: 1.7; 
   
  }

  /* .reseaux {
    justify-content: left;
    display: flex;
    flex-direction: column;

  } */

  @media (max-width: 767px) {
    
  }
  