footer {
    font-size: 0.9rem;
  }
  
  footer a {
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  footer a:hover {
    color: #050505; 
  }
  
  footer h5 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  