<!-- 

<footer class="footer bg-primary text-white py-4">

    <div class="container text-center">

      <!-- Liens réseaux sociaux -->


      <!-- <div class="social-icons mb-3">
        <p>Retrouvez nous sur les réseaux sociaux:</p>
        <a href="#" class="text-white me-3"><i class="fab fa-facebook"></i></a>
        <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
      </div> -->
  
      <!-- Informations légales et équipe -->
      <!-- <div class="footer-content">
        <p>© 2024 Plume d'enfant - Tous droits réservés</p>

        <p>
          Équipe de création :
          <strong>Salima MARBOUK</strong> - Projet owner,
          <strong>Christophe MAGGIORE</strong> - Développeur,
          <strong>Christophe MIRANVILLE</strong> - Dévelopeur,
          <strong>Jérémy DEMANGE</strong> - Dévelopeur
        </p>

        <p> -->
          <!-- À propos:
          <a href="#" class="text-white me-3">Contact</a>
          <a href="#" class="text-white">Mentions légales et CGU</a>
        </p>


      </div>

    </div>


  </footer> -->
  


   <footer class="bs-dark-bg-subtle py-4">
    <div class="container">

      <div class="row">

        <!-- Colonne 1 : Liens réseaux sociaux -->
        <div class="col-md-4 text-center">
          <h5>Suivez-nous sur:</h5>

          <fa-icon [icon]="faFacebook" size="2xl"/>
          <fa-icon [icon]="faTwitter" size="2xl"/>
          <fa-icon [icon]="faInstagram" size="2xl"/>

        </div>
  
        <!-- Colonne 2 : Équipe -->
        <div class="col-md-4 text-center">
          <h5>Équipe de création</h5>
          <p>
            <strong>Salima HARBOUK</strong> - Projet owner<br>
            <strong>Christophe MASOQUE</strong> - Scrum master<br>
            <strong>Christophe RIBANAULE</strong> - Développeur<br>
            <strong>Jérémy DEMANGE</strong> - Développeur
          </p>
        </div>
  
        <!-- Colonne 3 : Liens importants -->
        <div class="col-md-4 text-center text-md-end">
            
          <h5>Liens utiles</h5>
          <a href="#" class="text-white d-block">À propos</a>
          <a href="#" class="text-white d-block">Contact</a>
          <a href="#" class="text-white d-block">Mentions légales et CGU</a>
        </div>
      </div>
  

      <div class="text-center mt-4">
        <p class="mb-0">© 2024 Plume d'enfant - Tous droits réservés</p>

      </div>


    </div>
  </footer>
  