<div class="stories_page">
  <div class="container_search">
    <div class="search_input_wrapper">
      <input
        placeholder="Rechercher"
        class="search_bar"
        type="search"
        [(ngModel)]="motRecherche"
      />
      <i class="fa-solid fa-magnifying-glass"></i>
      <i class="fa-solid fa-filter" (click)="toggleVisibilityFiltres()"></i>
    </div>
  </div>

  <div class="container_filter" [hidden]="isFiltresHidden">
    <section class="left_filter">
      <p class="title_choice">Sélectionner les catégories</p>
      <div class="theme_choice">
        <div class="group_choice">
          <input
            class="checkbox_input"
            type="checkbox"
            (change)="onCategorieHistoireChange(categoriePirate, $event)"
          />
          <img
            src="assets/images/CategorieHistoire/icon_pirate.png"
            alt="icon_theme_pirate"
          />
          <p class="checkbox_title">Pirate</p>
        </div>

        <div class="group_choice">
          <input
            class="checkbox_input"
            type="checkbox"
            (change)="onCategorieHistoireChange(categorieFarWest, $event)"
          />
          <img
            src="assets/images/CategorieHistoire/icon_farWest.png"
            alt="icon_theme_farWest"
          />
          <p class="checkbox_title">Cowboy</p>
        </div>

        <div class="group_choice">
          <input
            class="checkbox_input"
            type="checkbox"
            (change)="onCategorieHistoireChange(categorieSpacial, $event)"
          />
          <img
            src="assets/images/CategorieHistoire/icon_spacial.png"
            alt="icon_theme_spacial"
          />
          <p class="checkbox_title">Espace</p>
        </div>

        <div class="group_choice">
          <input
            class="checkbox_input"
            type="checkbox"
            (change)="onCategorieHistoireChange(categorieFantastique, $event)"
          />
          <img
            src="assets/images/CategorieHistoire/icon_sorciere.png"
            alt="icon_theme_fantastique"
          />
          <p class="checkbox_title">Conte de fée</p>
        </div>

        <div class="group_choice">
          <input
            class="checkbox_input"
            type="checkbox"
            (change)="onCategorieHistoireChange(categorieMedieval, $event)"
          />
          <img
            src="assets/images/CategorieHistoire/icon_medieval.png"
            alt="icon_theme_medieval"
          />
          <p class="checkbox_title">Chevalier</p>
        </div>

        <div class="group_choice">
          <input
            class="checkbox_input"
            type="checkbox"
            (change)="onCategorieHistoireChange(categorieFuturiste, $event)"
          />
          <img
            src="assets/images/CategorieHistoire/icon_robot.png"
            alt="icon_theme_futuriste"
          />
          <p class="checkbox_title">Future</p>
        </div>
      </div>
    </section>

    <section>
      <p class="title_choice">Sélectionner les tranches d'âge</p>
      <div class="age_choice">
        <div class="group_choice">
          <input
            class="checkbox_input"
            type="checkbox"
            (change)="onCategorieAgeChange(categorieDeuxTroisAns, $event)"
          />
          <i class="fa-solid fa-circle" style="color: rgb(13, 216, 216)"></i>
          <p class="checkbox_title">2-3 ans</p>
        </div>

        <div class="group_choice">
          <input
            class="checkbox_input"
            type="checkbox"
            (change)="onCategorieAgeChange(categorieSixSeptAns, $event)"
          />
          <i class="fa-solid fa-circle" style="color: rgb(207, 220, 19)"></i>
          <p class="checkbox_title">6-7 ans</p>
        </div>

        <div class="group_choice">
          <input
            class="checkbox_input"
            type="checkbox"
            (change)="onCategorieAgeChange(categorieDixOnzeAns, $event)"
          />
          <i class="fa-solid fa-circle" style="color: rgb(201, 23, 23)"></i>
          <p class="checkbox_title">10-11 ans</p>
        </div>

        <div class="group_choice">
          <input
            class="checkbox_input"
            type="checkbox"
            (change)="onCategorieAgeChange(categorieQuatreCinqAns, $event)"
          />
          <i class="fa-solid fa-circle" style="color: rgb(24, 223, 28)"></i>
          <p class="checkbox_title">4-5 ans</p>
        </div>

        <div class="group_choice">
          <input
            class="checkbox_input"
            type="checkbox"
            (change)="onCategorieAgeChange(categorieHuitNeufAns, $event)"
          />
          <i class="fa-solid fa-circle" style="color: rgb(220, 133, 19)"></i>
          <p class="checkbox_title">8-9 ans</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container_stories">
    <h4>Liste des histoires</h4>

    <div class="container_stories_card">
      @for (histoire of filtrer(); track $index) {

      <a (click)="goHistoire(histoire.id)">
        <app-card [histoire]="histoire"></app-card>
      </a>

      }
    </div>
  </div>
</div>
