<p style="color: aliceblue;">admin-page works!</p>


<section class="container_admin_stories">
    <table class="list_stories">
        <caption>Liste des histoires</caption>
        <thead>
            <tr class="tr">
                <th scope="col">ID histoire</th>
                <th scope="col">ID créateur</th>
                <th scope="col">Titre</th>
                <th scope="col">Nombre likes</th>
                <th scope="col">Nombre vues</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr">
                <td>1</td>
                <td>Visiteur</td>
                <td>Le balai enchanté</td>
                <td>236</td>
                <td>569</td>
                <td><i class="fa-solid fa-pen-nib" style="color: #ede7ec;"></i></td>
                <td><i class="fa-solid fa-trash" style="color: #e81616;"></i></td>
            </tr>
            <tr class="tr">
                <td>2</td>
                <td>Visiteur</td>
                <td>Le balai enchanté</td>
                <td>236</td>
                <td>569</td>
                <td><i class="fa-solid fa-pen-nib" style="color: #ede7ec;;"></i></td>
                <td><i class="fa-solid fa-trash" style="color: #e81616;"></i></td>
            </tr>
            <tr class="tr">
                <td>3</td>
                <td>1</td>
                <td>Le balai enchanté</td>
                <td>236</td>
                <td>569</td>
                <td><i class="fa-solid fa-pen-nib" style="color: #ede7ec;;"></i></td>
                <td><i class="fa-solid fa-trash" style="color: #e81616;"></i></td>
            </tr>
            <tr class="tr">
                <td>4</td>
                <td>2</td>
                <td>Le balai enchanté</td>
                <td>236</td>
                <td>569</td>
                <td><i class="fa-solid fa-pen-nib" style="color: #ede7ec;;"></i></td>
                <td><i class="fa-solid fa-trash" style="color: #e81616;"></i></td>
            </tr>
            <tr class="tr">
                <td>5</td>
                <td>Visiteur</td>
                <td>Le balai enchanté</td>
                <td>236</td>
                <td>569</td>
                <td><i class="fa-solid fa-pen-nib" style="color: #ede7ec;;"></i></td>
                <td><i class="fa-solid fa-trash" style="color: #e81616;"></i></td>
            </tr>
            <tr class="tr">
                <td>6</td>
                <td>Visiteur</td>
                <td>Le balai enchanté</td>
                <td>236</td>
                <td>569</td>
                <td><i class="fa-solid fa-pen-nib" style="color: #ede7ec;;"></i></td>
                <td><i class="fa-solid fa-trash" style="color: #e81616;"></i></td>
            </tr>
            <tr class="tr">
                <td>7</td>
                <td>3</td>
                <td>Le balai enchanté</td>
                <td>236</td>
                <td>569</td>
                <td><i class="fa-solid fa-pen-nib" style="color: #ede7ec;;"></i></td>
                <td><i class="fa-solid fa-trash" style="color: #e81616;"></i></td>
            </tr>
            <tr class="tr">
                <td>8</td>
                <td>4</td>
                <td>Le balai enchanté</td>
                <td>236</td>
                <td>569</td>
                <td><i class="fa-solid fa-pen-nib" style="color: #ede7ec;;"></i></td>
                <td><i class="fa-solid fa-trash" style="color: #e81616;"></i></td>
            </tr>
            <tr class="tr">
                <td>9</td>
                <td>5</td>
                <td>Le balai enchanté</td>
                <td>236</td>
                <td>569</td>
                <td><i class="fa-solid fa-pen-nib" style="color: #ede7ec;;"></i></td>
                <td><i class="fa-solid fa-trash" style="color: #e81616;"></i></td>
            </tr>
        </tbody>
    </table>
</section>
<section class="container_admin_users">
    <table class="list_users">
        <caption>Liste des utilisateurs</caption>
        <tr class="tr">
            <th scope="col">ID utilisateurs</th>
            <th scope="col">Adresse Mail</th>
            <th scope="col">Contacter</th>
            <th scope="col">Supprimer</th>
        </tr>
        <tr class="tr">
            <td>1</td>
            <td>exempleAmail.com</td>
            <td><i class="fa-regular fa-envelope" style="color: #f4f7fa;"></i></td>
            <td><i class="fa-solid fa-trash" style="color: #e81616;"></i></td>
        </tr>
        <tr class="tr">
            <td>2</td>
            <td>exempleAmail.com</td>
            <td><i class="fa-regular fa-envelope" style="color: #f4f7fa;"></i></td>
            <td><i class="fa-solid fa-trash" style="color: #e81616;"></i></td>
        </tr>
        <tr class="tr">
            <td>3</td>
            <td>exempleAmail.com</td>
            <td><i class="fa-regular fa-envelope" style="color: #f4f7fa;"></i></td>
            <td><i class="fa-solid fa-trash" style="color: #e81616;"></i></td>
        </tr>
        <tr class="tr">
            <td>4</td>
            <td>exempleAmail.com</td>
            <td><i class="fa-regular fa-envelope" style="color: #f4f7fa;"></i></td>
            <td><i class="fa-solid fa-trash" style="color: #e81616;"></i></td>
        </tr>
        <tr class="tr">
            <td>5</td>
            <td>exempleAmail.com</td>
            <td><i class="fa-regular fa-envelope" style="color: #f4f7fa;"></i></td>
            <td><i class="fa-solid fa-trash" style="color: #e81616;"></i></td>
        </tr>
        <tr class="tr">
            <td>6</td>
            <td>exempleAmail.com</td>
            <td><i class="fa-regular fa-envelope" style="color: #f4f7fa;"></i></td>
            <td><i class="fa-solid fa-trash" style="color: #e81616;"></i></td>
        </tr>
        <tr class="tr">
            <td>7</td>
            <td>exempleAmail.com</td>
            <td><i class="fa-regular fa-envelope" style="color: #f4f7fa;"></i></td>
            <td><i class="fa-solid fa-trash" style="color: #e81616;"></i></td>
        </tr>
        <tr class="tr">
            <td>8</td>
            <td>exempleAmail.com</td>
            <td><i class="fa-regular fa-envelope" style="color: #f4f7fa;"></i></td>
            <td><i class="fa-solid fa-trash" style="color: #e81616;"></i></td>
        </tr>
        <tr class="tr">
            <td>9</td>
            <td>exempleAmail.com</td>
            <td><i class="fa-regular fa-envelope" style="color: #f4f7fa;"></i></td>
            <td><i class="fa-solid fa-trash" style="color: #e81616;"></i></td>
        </tr>
    </table>
</section>