<section class="profil_config">
  <h3>Page administrateur</h3>

  <div class="container_profil">
    <div class="left_profil">
      <p class="p_first_child">Changer mon mot de passe</p>
      <p class="p_first_child">Changer mon adresse mail</p>
    </div>
    <div class="right_profil">
      <a (click)="seDeconnecter()">=> Se déconnecter</a>
    </div>
  </div>
</section>

<section class="container_admin_stories">
  <h4>Liste des histoires</h4>
  <table class="list_stories">
    <thead>
      <tr class="tr">
        <th scope="col">ID histoire</th>
        <th scope="col">ID créateur</th>
        <th scope="col">Titre</th>
        <th scope="col">Nombre likes</th>
        <th scope="col">Modifier</th>
        <th scope="col">Supprimer</th>
      </tr>
    </thead>
    <tbody>
      @for (histoire of listHistoire; track $index) {
      <tr class="tr">
        <td>{{ histoire.id }}</td>
        <td>{{ histoire.createur.id }}</td>
        <td>{{ histoire.titre }}</td>
        <td>{{ histoire.nbLike }}</td>
        <td><i class="fa-solid fa-pen-nib" style="color: #ede7ec"></i></td>
        <td><i class="fa-solid fa-trash" style="color: #e81616"></i></td>
      </tr>
      }
    </tbody>
  </table>
</section>
<section class="container_admin_users">
  <h4>Liste des utilisateurs</h4>
  <table class="list_users">
    <tr class="tr">
      <th scope="col">ID utilisateurs</th>
      <th scope="col">Adresse Mail</th>
      <th scope="col">Contacter</th>
      <th scope="col">Supprimer</th>
    </tr>

    @for (utilisateur of listUtilisateur; track $index) {
    <tr class="tr">
      <td>{{ utilisateur.id }}</td>
      <td>{{ utilisateur.email }}</td>
      <td><i class="fa-regular fa-envelope" style="color: #f4f7fa"></i></td>
      <td>
        <a (click)="deleteUser(utilisateur.id)"
          ><i class="fa-solid fa-trash" style="color: #e81616"></i
        ></a>
      </td>
    </tr>
    }
  </table>
</section>
