@if (isLoggedIn) {
<button
  class="container_button btn btn-success btn-sm d-block mx-auto"
  routerLink="/create"
>
  Créer mon histoire
</button>

} @else {
<br />
<p>Vous devez être connecté pour créer une histoire</p>
}

<!-- container 1 -->

<div class="container_stories">
  <p>Nos plus belles histoires</p>

  <div class="container_stories_card">
    @for(histoire of histoires; track histoire.id) {
    <a (click)="goHistoire(histoire.id)">
      <app-card [histoire]="histoire"></app-card>
    </a>
    }
  </div>
</div>

@if (isLoggedIn) {
<!-- container 2 -->
<!-- 
<div class="container_stories">
  <p>Vos dernières lectures</p>
  <div class="container_stories_card">
    @for(histoire of histoires; track histoire.id) {
    <a>
      <app-card></app-card>
    </a>
    }
  </div>
</div>
-->
}
