<div class="container_stories" [style]="getBackGround()">
  <div class="content_story">
    <i class="fa-regular fa-star" style="color: #ffd43b"></i>
    <div class="center_story">
      <p class="title">{{ histoire.titre }}</p>

      <div class="param_story">
        <div class="param">
          <app-cat-histoire
            [categorie]="histoire.categorieHistoire"
          ></app-cat-histoire>
        </div>
        <div class="param">
          <app-cat-age [categorie]="histoire.categorieAge"></app-cat-age>
        </div>
      </div>
    </div>

    <p class="story">{{ histoire.corps }}</p>

    <p class="the_end">Fin</p>

    <div class="react">
      <div class="react_block">
        @if (isUserLogin) { @if (isLiked) {
        <a (click)="changeLike()">
          <i class="fa-solid fa-heart" style="color: #db0f0f"></i
        ></a>

        } @else {
        <a (click)="changeLike()">
          <i class="fa-regular fa-heart" style="color: #db0f0f"></i
        ></a>
        }
        <!-- <p>J'aime cette histoire</p> -->
        }
      </div>
      <div class="react_block">
        <i class="fa-solid fa-download"></i>
        <!-- <p>Télécharger cette histoire</p> -->
      </div>
      <div class="react_block">
        <i class="fa-solid fa-share"></i>
        <!-- <p>Partager cette histoire</p> -->
      </div>
    </div>
  </div>
</div>
