.container_profil {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.profil_config,
h4 {
  text-align: center;
  font-size: 1.5rem;
}

.container_stories_create,
.container_stories_favorite,
.container_stories_like,
.profil_config {
  color: white;
  margin: 50px;
  padding: 20px;
  background-color: rgba(240, 248, 255, 0.179);
  backdrop-filter: blur(4px);
  border: rgb(249, 242, 242) solid 1px;
  border-radius: 25px;
}

.right_profil {
  color: red;
}

.container_stories_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  gap: 50px;
}

@media (max-width: 1023px) {
  p {
    font-size: 0.8rem;
  }

  .right_profil,
  .left_profil {
    margin: 0 auto;
  }

  .container_profil {
    display: flex;
    justify-content: space-between;
    padding: 0px;
  }

  .profil_config {
    padding: 5px;
    margin: 30px;
  }
}

@media (max-width: 767px) {
  .left_profil {
    border-right: solid 1px whitesmoke;
    margin: 0 auto;
    padding-right: 10px;
  }

  .right_profil {
    margin: 0 auto;
  }

  .p_first_child {
    padding-bottom: 10px;
    border-bottom: solid 1px whitesmoke;
  }
}
