

<nav class="navbar navbar-expand-lg navbar-light bg-primary text-white">

  <div class="container-fluid">

    
    <!-- Logo ou titre -->
    <a class="navbar-brand text-white fw-bold" href="#">Plume d'enfant</a>

    <!-- Liens principaux -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link text-white" href="#">Créer une histoire</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="#">Chercher une histoire</a>
        </li>

      </ul>

    </div>


     <!-- Bouton pour le mode clair/sombre -->
     <button class="btn btn-light" (click)="toggleTheme()">

      <i [ngClass]="isDarkMode ? 'fas fa-sun' : 'fas fa-moon'"></i>
      

    </button>

    <!-- Profil utilisateur (bouton à droite) -->
    <button class="btn btn-light">Mon profil</button>

   

  </div>

</nav>
