.form {
    color: aliceblue;
    margin: 50px;
    padding: 20px;
    background-color: rgba(240, 248, 255, 0.179);
    backdrop-filter: blur(4px);
    border: rgb(249, 242, 242) solid 1px;
    border-radius: 25px;
}

.duo {
    display: grid;

    grid-template-columns: 1fr 1fr;

}

.solo {
    display: grid;
    grid-template-columns: 1fr;
}

input,
select {
    height: 40px;
    margin: 10px 20px 20px 20px;
    border-radius: 10px;

}

p {
    text-align: center;
    font-size: 2rem;
}

label {
    padding-left: 20px;
    font-size: 1.5rem;
}

.add_perso {
    text-align: center;
}

section {
    padding-top: 20px;
}

.validate {
    padding: 15px 30px;
    border-radius: 10px;
    background-color: rgb(50, 212, 58);
    display: block;
    margin: 30px auto;
}